:root {
    --gold: #C9A227;
    --dark-gold: #9A7415;
    --light-gold: #F4E8C1;

    --background: #FFFDF7;
    --surface: #FFFFFF;

    --text: #3A3325;
    --border: #E3D4A3;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: var(--background);
    color: var(--text);
}

img {
    max-width: 100%;
    display: block;
}

a {
    color: inherit;
    text-decoration: none;
}

button,
input,
select,
textarea {
    font: inherit;
}

a {
    display: inline-block;
    text-decoration: none;
    transition: transform 0.2s ease;
}

a:hover {
    transform: scale(1.04);
}

main {
    padding-top: 70px;
    flex: 1; 
}

body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}




@media (max-width: 900px) {
    main {
        padding-top: 65px;
    }
}

